body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 10px 20px;
    height: 10vh;
}

#heading {
    list-style-type: none;
    display: flex;
    color: white;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand a {
    display: flex;
    align-items: center;
}

#watch-img {
    max-width: 50px; 
    height: auto;
    mix-blend-mode: color-burn;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 16px;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    transition: padding 0.3s ease, background-color 0.3s ease;
}

.navbar-menu a:hover {
    border-radius: 100px;
    padding: 14px 30px;
    background-color: #000;
}

.navbar-toggle {
    display: none; 
    font-size: 24px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(32, 32, 32);
    flex-wrap: wrap;
    height: auto; 
}

.text {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    max-width: 100%; /
}

.text h1 {
    margin: 0;
    font-size: 5rem; 
    color: black;
}

.text p {
    color: white;
    font-size: 1rem;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%); 
        opacity: 0; 
    }
    100% {
        transform: translateY(0); 
        opacity: 1;
    }
}

.image img {
    max-width: 100%;
    height: auto;
}

#vertical-text {
    position: absolute;
    right: 10%;
    writing-mode: vertical-rl; 
    font-size: 1.5rem; 
    margin-right: 20px;
}

button {
    border: 2px solid black;
    border-radius: 50px;
    padding: 14px 30px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    transform: scale(1.05);
}

.footer {
    text-align: center; 
    padding: 20px;
    background-color: rgb(32, 32, 32);
}

#footer-head {
    margin: 0;
    font-size: 0.875rem; 
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
    }

    .navbar-toggle {
        display: block; 
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .text, .image {
        flex: none;
        width: 100%;
        text-align: center;
    }

    #watch-img {
        max-width: 40px; 
    }

    .image img {
        max-width: 90%; 

    #vertical-text {
        font-size: 1rem; 
        right: 5%;
    }
}
}
@media (max-width: 480px) {
    .text h1 {
        font-size: 1.5rem; 
    }

    .text p {
        font-size: 0.875rem;
    }

    button {
        padding: 10px 20px;  }
}